
/* 
──────────────────────────────────────────────────────
downloadFonts.css
────────────────────────────────────────────────────── */

/*  */

@font-face {
    font-family: "Cyber-BoldBook";
    src: url("../../fonts/Cyber-BoldBook.ttf");
} 

@font-face {
    font-family: "7 Segments Display";
    src: url("../../fonts/7 Segments Display.otf");
}

@font-face {
    font-family: "Myfont-Regular";
    src: url("../../fonts/Myfont-Regular.otf");
}