@charset "UTF-8";
/*  
◈──────────────────────────────────────────────────────◈
TODO: Framework - Variables
◈──────────────────────────────────────────────────────◈ */
/* Padrão: 600-700px. */
/* Apple: 16px em 320w, e 22px em 736w. */
/*  TODO:    1 ▶ Specific Elements & Components
◈──────────────────────────────────────────────────────◈ */
/*      
//$bg_switch_type_button_pill_and_rounded_off: hsl(193, 0%,94%);
$bg_switch_type_button_pill_and_rounded_off: 
url(../../images/bgs/switch_button_icon_pill_shine_under.webp) center center / 200% 100% no-repeat,
hsl(193, 0%, 88%);
$bg_switch_type_button_pill_and_rounded_on: 
url(../../images/bgs/switch_button_icon_pill_shine_under.webp) center center / 200% 100% no-repeat,
hsl(193, 100%, 83%);
*/
/*  
$bg_switch_type_button_icon_piece_text_floating_off: linear-gradient(to bottom, white, hsl(193, 0%, 91%)); // hsl(0, 0%, 98%);
$color_border_switch_type_button_icon_piece_text_floating_off: hsl(0, 0%, 74%); 
$color_text_switch_type_button_icon_piece_text_floating_off: hsl(0, 0%, 67%); 
$bg_button_and_switch_both_type_button_icon_piece_text_floating_on: linear-gradient(to bottom, white, hsl(193, 100%, 92%));  // hsl(193, 100%, 98%);
$color_border_button_and_switch_both_type_button_icon_piece_text_floating_on: hsl(193, 100%, 68%);  
$color_text_button_and_switch_both_type_button_icon_piece_text_floating_on: hsl(193, 100%, 60%); 
*/
/*  
$color_text_switch_type_image_piece_text_floating_on: hsl(193, 100%, 60%); 
$color_border_switch_type_image_piece_text_floating_on: hsl(193, 100%, 68%);  
$bg_switch_type_image_piece_text_floating_on: linear-gradient(to bottom, white, hsl(193, 100%, 92%));  // hsl(193, 100%, 98%);
$color_box_shadow_switch_type_image_piece_text_floating_on: hsla(193, 100%, 60%, 0.24);
*/
/*  
$color_text_button_type_image_piece_text_floating: hsl(190, 100%, 51%); 
$color_border_button_type_image_piece_text_floating: hsl(195, 100%, 50%);
$color_box_shadow_in_button_type_image_piece_text_floating: hsla(195, 100%, 50%, 0.3);
$color_box_shadow_out_button_type_image_piece_text_floating: hsla(193, 100%, 66%, 0.24);
$bg_button_type_image_piece_text_floating: hsla(192, 100%, 98%, 0.95); 
*/
/*  
◈──────────────────────────────────────────────────────◈
TODO: Framework - Classes JS
◈──────────────────────────────────────────────────────◈ */
.display_none {
  display: none;
}

.overflow_hidden {
  overflow: hidden;
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: Seções De Layout
◈──────────────────────────────────────────────────────◈ */
.header_content {
  max-width: 800px;
}

.central {
  max-width: 800px;
}

.presentation_float video {
  width: 100%;
  border-top: 2px solid DeepSkyBlue;
  border-bottom: 2px solid DeepSkyBlue;
  margin-top: 16rem;
  margin-bottom: 16rem;
}

@media (max-width: 501px) {
  .presentation_float {
    display: flex;
    flex-direction: column;
  }
  .presentation_float video {
    order: 1;
  }
}

@media (min-width: 501px) {
  .presentation_float {
    display: flow-root;
  }
  .presentation_float > div {
    max-width: calc(100% - 40% - (1 * 20px));
  }
  .presentation_float video {
    float: right;
    max-width: 40%;
    border: 2px solid DeepSkyBlue;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
  }
  .presentation_float p:nth-last-of-Type(1) {
    margin-bottom: 0;
  }
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: Others
◈──────────────────────────────────────────────────────◈ */
table th {
  /*
        background: url(../../framework/images/colors/text_table_th.png)  center /100% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent; */
}

.rotate_device_to_max_img {
  width: 130px;
  padding: 8px 0px 0px 7px;
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: Slider
◈──────────────────────────────────────────────────────◈ */
.slider {
  /*  
    img, picture { 
        max-width: 94.4%;
    }

    @media (min-width: $screen_small_widthLimit) {

        max-width: calc(100% - (2 * 20px));  

        .slider img, .slider picture {
            max-width: 938px;   
        }
    }

    @media (min-width: calc(938px + (2 * 20px)) ) {
    
        max-width: 1000px;

    }
    */
}

/* 
────────────────────────────────────────────────────── 
TODO: About Us Page
◈──────────────────────────────────────────────────────◈ */
.aboutUs_team .profile_img {
  width: 100%;
  max-width: 370px;
  border-radius: 60px;
}

.aboutUs_team .profile_txt {
  max-width: 370px;
}

/* 
────────────────────────────────────────────────────── 
TODO: Download Page
◈──────────────────────────────────────────────────────◈ */
.download_buttons {
  display: flex;
  justify-content: space-evenly;
}

.download .demo div {
  text-align: center;
}

.download .demo div button {
  margin: 0;
  font-size: 21px;
}

.download .stores_aligh {
  text-align: center;
}

.download .stores_aligh img {
  width: 180px;
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: Types Interactions
◈──────────────────────────────────────────────────────◈ */
.types_interactions_switchs .switch {
  width: 236px;
}

.types_interactions_box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  /* .Robot { 
        display: none; 
    } */
}

.types_interactions_box .type_interactions {
  margin-left: 0;
  margin-right: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: calc(2*16rem);
  /* .good .txt {
            color: $color_text_token_green; 
            color: hsl(120, 100%, 47%);
        }

        .bad .txt {
            color: $color_text_token_red; 
            color: red;
        } */
}

.types_interactions_box .type_interactions .name th > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.types_interactions_box .type_interactions .name th > * img {
  margin-right: 8px;
}

.types_interactions_box .type_interactions tr:hover {
  background: 0 !important;
}

.types_interactions_box .type_interactions .info {
  border-bottom: 1px solid DeepSkyBlue;
}

.types_interactions_box .type_interactions .info th {
  width: 50%;
}

.types_interactions_box .type_interactions .info th:nth-of-type(1) {
  border-right: 1px solid DeepSkyBlue;
}

.types_interactions_box .type_interactions td + td {
  border-width: 1px !important;
}

.types_interactions_box .type_interactions .txt {
  display: block;
  width: max-content;
  -moz-width: fit-content;
  width: fit-content;
  margin: 6px auto 12px;
}

.types_interactions_box .type_interactions .type_icon {
  width: 32px;
  margin: 0 2px;
}

.types_interactions_box .type_interactions .effect_icon {
  width: 28px;
}

.types_interactions_box .Template {
  display: none;
}

.type_interactions.SimplifiedMode .info th {
  width: 182px;
}

.type_interactions.SimplifiedMode .good .attacking {
  background-image: linear-gradient(to right, rgba(235, 251, 255, 0), #ebffeb 5% 95%, #ebffeb);
}

.type_interactions.SimplifiedMode .good .defending {
  background-image: linear-gradient(to right, #ebffeb, #ebffeb 5% 95%, rgba(235, 251, 255, 0));
}

.type_interactions.SimplifiedMode .bad .attacking {
  background-image: linear-gradient(to right, rgba(255, 235, 235, 0), #ffeeee 5% 95%, #ffeeee);
}

.type_interactions.SimplifiedMode .bad .defending {
  background-image: linear-gradient(to right, #ffeeee, #ffeeee 5% 95%, rgba(255, 235, 235, 0));
}

.type_interactions.SimplifiedMode .interaction {
  display: inline;
}

.type_interactions.SimplifiedMode .interaction .txt {
  display: none;
}

.type_interactions.SimplifiedMode .interaction .type_icon {
  margin: 3px 2px -3px;
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: Types Table
◈──────────────────────────────────────────────────────◈ */
/* 
.types_table_msg {
    @media (pointer: fine) and (min-width: $screen_small_widthLimit) and (min-height: $screen_small_widthLimit) {
        display: none !important;
    }
}
*/
.offensive_types_table_box, .types_table_box {
  /* 
    display: none;

    @media (pointer: fine) and (min-width: $screen_small_widthLimit) and (min-height: $screen_small_widthLimit) {
        display: block;
    }
    */
  max-height: calc(100vh - 48px - (2 * 16rem));
  margin: auto;
  border: 2px solid DeepSkyBlue;
  border-radius: 0;
  border-top-left-radius: 20px;
  overflow: auto;
}

@media (min-width: 501px) {
  .offensive_types_table_box, .types_table_box {
    width: max-content;
    -moz-width: fit-content;
    width: fit-content;
    max-width: calc(100% - (2 * 20px) - 3px);
  }
}

.offensive_types_table_box {
  display: none;
}

.types_table {
  margin: 0;
}

.types_table tr:nth-of-type(1) {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 200, 255, 0);
}

.types_table tr th, .types_table tr td {
  padding: 6.5px;
  font-size: 18px;
}

.types_table tr th {
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  background: #f0fcff;
  outline: 1px solid DeepSkyBlue;
}

.types_table tr:nth-of-type(1) td {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: white;
  background: #f0fcff;
  outline: 1px solid DeepSkyBlue;
}

.types_table tr td:nth-of-type(1) {
  border-left: 0;
}

.types_table tr td {
  border-left: 1px solid #d9d9d9;
}

.types_table tr {
  border: 0;
}

.types_table tr td {
  border-bottom: 1px solid #d9d9d9;
}

.types_table tr:nth-of-type(1) td {
  border-bottom: 0;
}

.types_table tr:nth-last-of-type(1) td {
  border-bottom: 1px solid DeepSkyBlue;
}

.types_table .type_icon {
  width: 32px;
  height: 32px;
}

.types_table th, .types_table td {
  line-height: 0px;
}

.show-or-hide-plasma {
  display: none;
}

.types_table .effect_icon {
  width: 25px;
}

.types_table {
  /* th.lightMark1 {
        background-color: black;
    } */
  /* th.magicMark1 {
        background-color: black;
    }

    th.magicMark2 {
        background-color: silver;
    } */
}

.types_table .Robot {
  color: white;
  background-color: black;
}

.types_table th.Robot {
  background-color: #f0fcff;
}

.types_table .Digital {
  display: none;
}

.types_table .Robot {
  display: none;
}

.types_table th.metalMark1 {
  background-color: black;
}

@media (pointer: coarse), (pointer: none) {
  .table_box {
    height: 100%;
    margin-bottom: 38px;
    border-bottom: 0;
  }
}

/**/
.types_table_effects {
  margin: auto;
  max-width: 524px;
}

.types_table_effects ul {
  list-style: none;
  content: "\200B";
}

.types_table_effects ul > li::before {
  content: "";
}

.types_table_effects li {
  display: flex;
  align-items: center;
}

.types_table_effects li .effect_icon {
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.types_table_effects li span {
  margin-right: 6px;
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: Skills - Table
◈──────────────────────────────────────────────────────◈ */
@media (min-width: 1900px) {
  .FULLHD_STC_conteiner {
    position: fixed;
    top: 174px;
    left: 0px;
    z-index: 1000;
    width: 320px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.skills_types_choice:not(.dropdown_open) {
  display: flex !important;
  align-items: center;
  height: 44px;
}

.skills_types_choice:not(.dropdown_open) img {
  width: 32px;
  margin-left: 10px;
}

.skills_types_choice:not(.dropdown_open) img + span {
  padding-left: 9px !important;
}

.skills_types_choice.choice.dropdown.dropdown_open li {
  border-right: 1px solid white;
}

.skills_types_choice.choice.dropdown.dropdown_open li span {
  padding-left: 10px;
}

.skills_types_choice.choice.dropdown.dropdown_open li:nth-last-of-type(1) {
  display: none !important;
}

.skills_types_choice.choice.dropdown.dropdown_open a {
  height: 44px !important;
}

.skills_types_choice.choice.dropdown.dropdown_open img {
  width: 32px;
}

@media (min-width: 400px) {
  .skills_types_choice.choice.dropdown.dropdown_open li:not(:nth-of-type(2)) {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .skills_types_choice.choice.dropdown.dropdown_open li:not(:nth-of-type(2)) {
    width: 33.33%;
  }
}

@media (min-width: 800px) {
  .skills_types_choice.choice.dropdown.dropdown_open li:not(:nth-of-type(2)) {
    width: 25%;
  }
}

@media (min-width: 1000px) {
  .skills_types_choice.choice.dropdown.dropdown_open li:not(:nth-of-type(2)) {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .skills_types_choice.choice.dropdown.dropdown_open li:not(:nth-of-type(2)) {
    width: 16.66%;
  }
}

@media (min-width: 1360px) {
  .skills_types_choice.choice.dropdown.dropdown_open li:not(:nth-of-type(2)) {
    width: 9.09%;
  }
  .skills_types_choice.choice.dropdown.dropdown_open li:not(:nth-of-type(2)) a {
    height: 120px !important;
    flex-wrap: wrap;
  }
  .skills_types_choice.choice.dropdown.dropdown_open img {
    width: 64px;
    margin-top: 9px;
  }
  .skills_types_choice.choice.dropdown.dropdown_open span {
    width: 100%;
    text-align: center;
  }
}

.skills_data_switchs_box_centralizedBox {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.skills_data_switchs_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0;
  margin-left: calc(0.5 * 20px);
  margin-right: calc(0.5 * 20px);
  /* 
    li { width: calc((100% - 2 * 10px)/1); } 

    @media (min-width: 380px) { li { width: calc((100% - 4 * 10px)/2); } }

    @media (min-width: 520px) { li { width: calc((100% - 6 * 10px)/3); } }

    @media (min-width: 680px) { li { width: calc((100% - 8 * 10px)/4); } }

    @media (min-width: 840px) { li { width: calc((100% - 10 * 10px)/5); } }

    @media (min-width: 930px) { li { width: calc((100% - 12 * 10px)/6); } }

    @media (min-width: 970px) { li { width: calc((100% - 14 * 10px)/7); } }

    @media (min-width: 1110px) { li { width: calc((100% - 16 * 10px)/8); } }

    @media (min-width: 1250px) { li { width: calc((100% - 18 * 10px)/9); } }
 */
}

.skills_data_switchs_box li {
  display: inline-block;
  width: 144px;
  margin-top: 16rem;
  margin-left: 10px;
  margin-right: 10px;
}

.skills_data_switchs_box .switch {
  width: inherit;
  height: 42px;
  margin: 0;
}

@media (min-width: 1900px) {
  .skills_data_switchs_box {
    position: fixed;
    right: 0px;
    z-index: 1;
    width: calc((2 * 140px + 4 * 10px));
    margin-left: 20px;
    margin-right: 20px;
  }
  .skills_data_switchs_box li {
    width: 140px;
  }
}

.skills_table_box {
  width: max-content;
  -moz-width: fit-content;
  width: fit-content;
  /* <- Declarações necessárias 
    para garantir que o Firefox funcione como se suportasse 'width: fit-content'. (Ao menos 1 delas deve funcionar.) */
  max-width: 100%;
  max-height: calc(100vh - (2 * 48px));
  margin: auto;
  border: 1px solid DeepSkyBlue;
  overflow-x: auto;
}

@media (min-width: 501px) {
  .skills_table_box {
    max-width: calc(100% - (2 * 20px));
  }
}

@media (min-width: 1900px) {
  .skills_table_box {
    max-height: calc(100vh - 180px);
  }
}

.skills_table {
  min-width: max-content;
  /*  Esta única declaração possui 3 utilidades:
    - Deixa todas as células em uma única linha.
    - Corrige um bug que quando tem mais de um ícone de tipo, eles quebram em mais de uma linha.
    - Corrige um bug que deixa a largura da caixa da tabela maior do que a tabela se a tabela não tiver 
    largura suficiente para cobrir toda a largura da coluna da página em que está. */
  margin: auto;
  /* 
    // Isso evita um bug escroto de que quando tem mais de um ícone de tipo, eles quebram em mais de uma linha!!! 
    td > span { 
        display: inline-flex; 
    } 
    */
  /*td > span { 
        display: inline-block;
        min-width: max-content; 
    }  */
  /*  
    td > span { 

        display: inline-flex;
        align-items: center;
    }

    .icon_state {

        width: 32px;
        height: 32px;
        margin-left: 8px;
        margin-right: 8px; 
    }

    .icon_state_effect {

        width: 25px;
        height: 25px;
    }
    */
}

.skills_table td.Hit {
  color: red;
  text-decoration: line-through red;
}

.skills_table tr {
  display: none;
}

.skills_table tr:hover {
  background-color: transparent;
}

.skills_table tr:nth-of-type(1) {
  display: table-row;
  background-color: #f5fdff;
  outline: 1px solid DeepSkyBlue;
}

@media (pointer: fine) and (min-width: 501px) and (min-height: 501px) {
  .skills_table tr:nth-of-type(1) {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.skills_table tr:nth-of-type(1):hover {
  background-color: #f5fdff;
}

.skills_table tr td:nth-of-type(1) {
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  outline: 1px solid DeepSkyBlue;
}

.skills_table .Name {
  max-width: 186px;
}

.skills_table .Description, .skills_table .Notes {
  text-align: left;
}

.skills_table .icon_type {
  width: 32px;
  height: 32px;
  margin-top: 4px;
}

.skills_table .icon_type + .icon_type {
  margin-left: 9px;
}

.skills_table td.Effect {
  font-size: 0;
  max-width: 250px;
  padding-left: 6px;
  padding-right: 6px;
  /* 
        > span:not(:empty) + span {

            margin-left: 9px;
            margin-right: 9px;
        }
 */
}

.skills_table td.Effect > span:empty {
  display: none;
}

.skills_table td.Effect > span {
  display: inline-block;
  padding: 4px 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 1000px;
}

.skills_table td.Effect .SPD {
  color: #d6c100;
  border: 1px solid #dbc900;
  background-color: #fefee7;
}

.skills_table td.Effect .React {
  color: #f59f00;
  border: 1px solid #ffa600;
  background-color: #fff8eb;
}

.skills_table td.Effect .Critical {
  color: #eb0000;
  border: 1px solid #ff7a7a;
  background-color: #fff0f0;
}

.skills_table td.Effect .State {
  color: #00b0eb;
  border: 1px solid #29c9ff;
  background-color: #f5fcff;
}

.skills_table td.Effect .Call {
  color: #00d600;
  border: 1px solid #00d600;
  background-color: honeydew;
}

.skills_table td.Effect .Recover {
  color: #fa00fa;
  border: 1px solid magenta;
  background-color: #fef6fe;
}

.skills_table td.Effect .Drain {
  color: #bd00bd;
  border: 1px solid #bd00bd;
  background-color: #fcf5ff;
}

.skills_table td.Effect .Union {
  color: #907ef1;
  border: 1px solid #a495f3;
  background-color: #f6f5ff;
}

.skills_table td.Effect .Integrate {
  color: #00c2c2;
  border: 1px solid #00c2c2;
  background-color: azure;
}

.skills_table td.Effect .Field {
  color: #c5621b;
  border: 1px solid #c5621b;
  background-color: #fdf4ed;
}

.skills_table td.Effect .Block {
  color: #707070;
  border: 1px solid #0a0a0a;
  background-color: #f7f7f7;
}

.skills_table td.Effect .Special {
  color: #a3a3a3;
  border: 1px solid #a8a8a8;
  background-color: white;
}

.skills_table .cost + .cost {
  margin-left: 6px;
}

.skills_table .cost.hp {
  color: #00f000;
}

.skills_table .cost.mp {
  color: #f5dc00;
}

.skills_table .cost.tp {
  color: red;
}

.skills_table .Condition .Equip:not(:empty) + .OtherCond:not(:empty)::before {
  content: ", ";
}

.skills_table_box_full {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: calc(1000 + 1);
  width: 100vw;
  max-width: 100vw;
  max-height: calc(100vh - (0 * 48px));
  background-color: white;
  border: 0;
}

.click_on_the_table {
  text-align: center;
}

.skills_quantity {
  text-align: center;
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: ...
◈──────────────────────────────────────────────────────◈ */
