@charset "UTF-8";
/*
┌──────────────────────────────────────────────────────┐
│                                                  gmes-identity.css                                                  │
└──────────────────────────────────────────────────────◈ */
/*  
◈──────────────────────────────────────────────────────◈
TODO: Framework - Variables
◈──────────────────────────────────────────────────────◈ */
/* Padrão: 600-700px. */
/* Apple: 16px em 320w, e 22px em 736w. */
/*  TODO:    1 ▶ Specific Elements & Components
◈──────────────────────────────────────────────────────◈ */
/*
$bg_header: linear-gradient(to bottom, hsl(197,100%,78%) 0%,hsl(200,100%,76%) 10%,hsl(203,100%,71%) 25%,hsl(204,100%,72%) 37%,hsl(204,100%,73%) 50%,hsl(203,100%,67%) 51%,hsl(202,100%,76%) 83%,hsl(198, 100%, 84%) 100%); 
$bg_nav: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%,hsl(193,100%,82%) 33%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);
*/
/*      
//$bg_switch_type_button_pill_and_rounded_off: hsl(193, 0%,94%);
$bg_switch_type_button_pill_and_rounded_off: 
url(../../images/bgs/switch_button_icon_pill_shine_under.webp) center center / 200% 100% no-repeat,
hsl(193, 0%, 88%);
$bg_switch_type_button_pill_and_rounded_on: 
url(../../images/bgs/switch_button_icon_pill_shine_under.webp) center center / 200% 100% no-repeat,
hsl(193, 100%, 83%);
*/
/*  
$bg_switch_type_button_icon_piece_text_floating_off: linear-gradient(to bottom, white, hsl(193, 0%, 91%)); // hsl(0, 0%, 98%);
$color_border_switch_type_button_icon_piece_text_floating_off: hsl(0, 0%, 74%); 
$color_text_switch_type_button_icon_piece_text_floating_off: hsl(0, 0%, 67%); 
$bg_button_and_switch_both_type_button_icon_piece_text_floating_on: linear-gradient(to bottom, white, hsl(193, 100%, 92%));  // hsl(193, 100%, 98%);
$color_border_button_and_switch_both_type_button_icon_piece_text_floating_on: hsl(193, 100%, 68%);  
$color_text_button_and_switch_both_type_button_icon_piece_text_floating_on: hsl(193, 100%, 60%); 
*/
/*  
$color_text_switch_type_image_piece_text_floating_on: hsl(193, 100%, 60%); 
$color_border_switch_type_image_piece_text_floating_on: hsl(193, 100%, 68%);  
$bg_switch_type_image_piece_text_floating_on: linear-gradient(to bottom, white, hsl(193, 100%, 92%));  // hsl(193, 100%, 98%);
$color_box_shadow_switch_type_image_piece_text_floating_on: hsla(193, 100%, 60%, 0.24);
*/
/*  
$color_text_button_type_image_piece_text_floating: hsl(190, 100%, 51%); 
$color_border_button_type_image_piece_text_floating: hsl(195, 100%, 50%);
$color_box_shadow_in_button_type_image_piece_text_floating: hsla(195, 100%, 50%, 0.3);
$color_box_shadow_out_button_type_image_piece_text_floating: hsla(193, 100%, 66%, 0.24);
$bg_button_type_image_piece_text_floating: hsla(192, 100%, 98%, 0.95); 
*/
/*  
◈──────────────────────────────────────────────────────◈
TODO: Types Table
◈──────────────────────────────────────────────────────◈ */
@media (pointer: fine) and (min-width: 501px) and (min-height: 501px) {
  .types_table_msg {
    display: none !important;
  }
}

.table_box {
  display: none;
  max-height: calc(100vh - 48px - (2 * 16rem));
  margin: auto;
  border: 2px solid DeepSkyBlue;
  border-radius: 0;
  border-top-left-radius: 20px;
  overflow: auto;
}

@media (pointer: fine) and (min-width: 501px) and (min-height: 501px) {
  .table_box {
    display: block;
  }
}

@media (min-width: 501px) {
  .table_box {
    max-width: calc(100% - (2 * 20px) - 3px);
  }
}

.types_table {
  margin: 0;
}

.types_table tr:nth-of-type(1) {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 200, 255, 0);
}

.types_table tr th {
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  background: #f0fcff;
  outline: 1px solid DeepSkyBlue;
}

.types_table tr:nth-of-type(1) td {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: white;
  background: #f0fcff;
  outline: 1px solid DeepSkyBlue;
}

.types_table tr td:nth-of-type(1) {
  border-left: 0;
}

.types_table tr td {
  border-left: 1px solid #d9d9d9;
}

.types_table tr {
  border: 0;
}

.types_table tr td {
  border-bottom: 1px solid #d9d9d9;
}

.types_table tr:nth-of-type(1) td {
  border-bottom: 0;
}

.types_table tr:nth-last-of-type(1) td {
  border-bottom: 1px solid DeepSkyBlue;
}

.types_table .type_icon {
  width: 36.8px;
}

.types_table th, .types_table td {
  line-height: 0px;
}

.show-or-hide-plasma {
  display: none;
}

.types_table .effect_icon {
  width: 28px;
}

@media (pointer: coarse), (pointer: none) {
  .table_box {
    height: 100%;
    margin-bottom: 38px;
    border-bottom: 0;
  }
}

/*
@media (pointer: coarse), (pointer: none) { // Ganbiarra necessária, pois os navegadores mobile n dão suporte à 'position: sticky'.

    .types_table tr:nth-of-type(1), .types_table tr th, .types_table tr:nth-of-type(1) td {
        position: static;  
    }

    .types_table .type_icon {
        width: 24px;
    }

    .types_table .effect_icon {
        width: 20px;
    }
}

*/
/*  
◈──────────────────────────────────────────────────────◈
TODO: ...
◈──────────────────────────────────────────────────────◈ */
