/*
┌──────────────────────────────────────────────────────┐
│                                               downloadFonts.css                                                 │
└──────────────────────────────────────────────────────◈ */

/* 
Os códigos abaixo devem ficar  no início do CSS, antes de qualquer CSS,
pois as fontes precisam ser importadas antes de serem usadas no site.
*/

@font-face { font-family: "Digital Disk"; src: url("../../fonts/Digital_Disk_Regular.otf"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Digital Disk"; src: url("../../fonts/Digital_Disk_Bold.otf"); font-weight: bold; font-style: normal; }
@font-face { font-family: "Digital Disk"; src: url("../../fonts/Digital_Disk_Italic.otf"); font-weight: normal; font-style: italic; }
@font-face { font-family: "Digital Disk"; src: url("../../fonts/Digital_Disk_Bold_Italic.otf"); font-weight: bold; font-style: italic; }

@font-face {
    font-family: "7 Segments Display";
    src: url("../../fonts/7_Segments_Display.otf");
}

@font-face {
    font-family: "Myfont-Regular";
    src: url("../../fonts/Myfont_Regular.otf");
}