//@import '../../framework/styles/scss/defaults.scss';
/*
┌──────────────────────────────────────────────────────┐
│                                                  gmes-identity.css                                                  │
└──────────────────────────────────────────────────────◈ */

/*  
◈──────────────────────────────────────────────────────◈
TODO: Framework - Variables
◈──────────────────────────────────────────────────────◈ */

$font_default: 'Times New Roman', Times, Georgia, serif;
$font_monospace: 'Courier New', Courier, monospace;
$font_size: 19rem; 
$font_small: 16rem;
$font_smaller: 14rem;
$central_maxWidth: 800px; /* Padrão: 600-700px. */
$margin_horizontal: 20px; /* Apple: 16px em 320w, e 22px em 736w. */
$margin_vertical: 16rem;
$button_height: 48px;
$button_height_small: 40px;
$button_height_smaller: 32px;
$border_radius_default: 20px;
$border_radius_big: 40px;
 
// ─────────── Breakpoints ───────────

$screen_small_widthLimit: 501px; // Largura máxima de um celular.
// $screen_medium_widthLimit: 1000px; // Largura mínima de um PC.

// $tablet_height_limit: 1366px; // Altura máxima de um tablet.

$nav_expand: 565px; // VÍNCULO: Váriável JS // Altura mínima de um celular.
$hr_stop: calc(#{$central_maxWidth} + 60px);

// ─────────── z-index's ───────────

$zIndex_nav: 1000;
$zIndex_choice_d_open: 1100;
$zIndex_lightbox: 1200;

// ─────────── Colors And BG's Geral ───────────

// $color_theme: hsl(193, 100%, 50%);
//$color_theme: hsl(201, 100%, 48%);
//$color_theme: DodgerBlue;
$color_theme: DeepSkyBlue; // VÍNCULO: Váriável JS
$color_theme_clear: hsla(193, 100%, 98%, 1); 

$color_text: black;
$color_text_clear: hsl(0, 0%, 68%); 
$color_text_menu: white; 

$color_shadow_text: hsla(0, 0%, 0%, 0.15);
$color_shadow_text_strong: hsla(0, 0%, 0%, 0.3);
$color_shadow_box_inset_clear: hsla(0, 0%, 100%, 0.4);
$color_shadow_box_inset_dark: hsla(0, 0%, 0%, 0.15); 

$bg_html: white;
//$bg_html: hsl(0, 0%, 36%);
//$bg_html: url(../../images/bgs/lightbox.png)  center /100% 100%, white;


/*  TODO:    1 ▶ Specific Elements & Components
◈──────────────────────────────────────────────────────◈ */

// ─────────── Header-Nav ───────────

$color_shadow_headerNav: hsla(0, 0%, 0%, 0.6);
$color_shadow_headerNav_rounded: hsla(0, 0%, 0%, 0.28);
$color_shadow_headerNav_button: hsla(0, 0%, 0%, 0.28);
$color_shadow_nav_options: hsla(0, 0%, 0%, 0.5);
$color_shadow_nav_subOptions: hsla(0, 0%, 0%, 0.26);

$bg_header: url(../../images/bgs/header.png) center /100% 100%;
// $bg_nav: url(../../images/bgs/nav.png)  center /100% 100%;
$bg_nav: linear-gradient(to right, hsl(201, 100%, 50%), hsl(193, 100%, 78%), hsl(201, 100%, 50%)); 
// $bg_nav_2: url(../../images/bgs/nav_2.png)  center /100% 100%;
// $bg_nav_selector: url(../../images/bgs/nav_selector.png)  center /100% 100%; // VÍNCULO: Váriável JS
$bg_nav_selector: hsla(0, 0%, 0%, 0.12); // VÍNCULO: Váriável JS

/*
$bg_header: linear-gradient(to bottom, hsl(197,100%,78%) 0%,hsl(200,100%,76%) 10%,hsl(203,100%,71%) 25%,hsl(204,100%,72%) 37%,hsl(204,100%,73%) 50%,hsl(203,100%,67%) 51%,hsl(202,100%,76%) 83%,hsl(198, 100%, 84%) 100%); 
$bg_nav: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%,hsl(193,100%,82%) 33%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);
*/

// ─────────── Footer ───────────

$color_shadow_footer: $color_shadow_headerNav_rounded; 
$color_shadow_footer_icons: hsla(0, 0%, 0%, 0.12);   

$bg_footer_icons: url(../../images/bgs/footer_icons.png)  center /100% 100%;

// $bg_footer_icons: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);

// ─────────── Texts ───────────

// $color_text_hx: url(../../images/colors/text_hx.png)  center /100% 100%; 199
$color_text_hx: linear-gradient(to bottom, hsl(195, 100%, 50%), hsl(201, 100%, 50%), hsl(193, 100%, 82%), hsl(230, 100%, 40%)); // hsl(246, 100%, 50%)
$color_text_hx: linear-gradient(to bottom, hsl(195, 100%, 64%), hsl(201, 100%, 64%), hsl(193, 100%, 88%), hsl(200, 100%, 50%));
$color_text_hx: linear-gradient(to bottom, hsl(195, 100%, 90%), hsl(201, 100%, 50%), hsl(193, 100%, 90%), hsl(210, 100%, 50%));
$color_text_hx: linear-gradient(to bottom, hsl(199, 100%, 90%), hsl(199, 100%, 50%), hsl(187, 100%, 87%), hsl(201, 100%, 50%)); 
$color_border_kbd: hsl(0, 0%, 95%);
$color_text_highlight: url(../../images/colors/text_highlight.png)  center /100% 100%; 
// $color_text_highlight_menu: url(../../images/colors/text_highlight_menu.png)  center /100% 100%;
$color_text_click: url(../../images/colors/text_click.png)  center /100% 100%;

$bg_kbd: hsl(0, 0%, 86%);

// Tokens:

$color_border_token_blue: hsl(195, 100%, 58%);
$bg_token_blue: hsl(195, 100%, 98%);
$color_text_token_blue: hsl(195, 100%, 46%);

$color_border_token_red: hsl(0, 100%, 74%);
$bg_token_red: hsl(0, 100%, 97%);
$color_text_token_red: hsl(0, 100%, 46%); 

$color_border_token_yellow: hsl(55, 100%, 43%);
$bg_token_yellow: hsl(60, 90%, 95%);
$color_text_token_yellow: hsl(54, 100%, 42%);

$color_border_token_green: hsl(120, 100%, 42%);
$bg_token_green: hsl(120, 100%, 97%);
$color_text_token_green: hsl(120, 100%, 42%);

$color_border_token_pink: hsl(300, 100%, 50%);
$bg_token_pink: hsl(300, 85%, 98%);
$color_text_token_pink: hsl(300, 100%, 49%);

$color_border_token_purple: hsl(300, 100%, 37%);
$bg_token_purple: hsl(280, 100%, 98%);
$color_text_token_purple: hsl(300, 100%, 37%);

$color_border_token_orange: hsl(39, 100%, 50%);
$bg_token_orange: hsl(39, 100%, 96%);
$color_text_token_orange: hsl(39, 100%, 48%);

$color_border_token_brown: hsl(25, 76%, 44%);
$bg_token_brown: hsl(25, 76%, 96%);
$color_text_token_brown: hsl(25, 76%, 44%);

$color_border_token_cyan: hsl(180, 100%, 38%);
$bg_token_cyan: hsl(180, 100%, 97%);
$color_text_token_cyan: hsl(180, 100%, 38%);

$color_border_token_purple2: hsl(249, 80%, 77%);
$bg_token_purple2: hsl(249, 100%, 98%);
$color_text_token_purple2: hsl(249, 80%, 72%);

$color_border_token_white: hsl(0, 0%, 66%); 
$bg_token_white: hsl(0, 0%, 100%);
$color_text_token_white: hsl(0, 0%, 64%); 

$color_border_token_black: hsl(0, 0%, 4%);
$bg_token_black: hsl(0, 0%, 97%); 
$color_text_token_black: hsl(0, 0%, 44%);

// ─────────── Signs ───────────

$color_text_success: hsl(120, 100%, 35%);
$color_text_attention: hsl(45, 74%, 45%);
$color_text_fail: hsl(0, 100%, 50%);
$color_text_danger: white;

$color_border_success: hsl(120, 100%, 44%);
$color_border_attention: hsl(43, 74%, 72%);
$color_border_fail: hsl(0, 100%, 70%);
$color_border_danger_clear: hsl(0, 100%, 76%);
$color_border_danger_dark: hsl(0, 100%, 31%);

$bg_success: hsl(120, 100%, 91%);
$bg_attention: hsl(54, 100%, 93%);
$bg_fail: hsl(0, 100%, 94%);
$bg_danger: red;

// ─────────── Tables ───────────

$table_border1_width: 1px;
$table_border2_width: 1px;

$color_border_table: hsl(0, 0%, 85%);

$bg_table_tr_hover: $color_theme_clear; 

// ─────────── Forms ───────────

$color_text_form: $color_text; 
$color_text_form_placeholder: $color_text_clear;
$color_text_form_select: $color_text_clear;

$color_border_form: hsl(0, 0%, 80%); 

// $bg_button: url(../../images/bgs/button.png)  center /100% 100%;
// $bg_select: url(../../images/bgs/select.png)  center /100% 100%; // <- Precisa ser do tipo PNG! 
$bg_select: linear-gradient(to bottom, hsl(0, 0%, 91%), white);  

// $bg_button: linear-gradient(to bottom right,hsl(197,100%,88%) 0%,hsl(200,100%,81%) 20%,hsl(203,100%,77%) 50%,hsl(204,100%,70%) 74%,hsl(204,100%,73%) 100%);

// ─────────── Switches ───────────

// --- Type Button ---

$color_text_switch_type_button_off: hsl(0, 0%, 50%);
$color_text_switch_type_button_on: white;

$color_icon_outline_switch_type_button_off: hsla(0, 0%, 0%, 0.45);

$color_shadow_box_inset_switch_type_button_dark: hsla(0, 0%, 0%, 0.33); // VÍNCULO: Váriável JS
$color_shadow_box_inset_element_type_button_clear: white; // VÍNCULO: Váriável JS

$bg_switch_type_button_off: 
// url(../../images/bgs/switch_button_shine_under.webp) center center / 200% 100% no-repeat, // <- Isso buga no Safari desktop.
linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 46%, hsla(0, 0%, 100%, 0.64), white),
hsl(193, 0%,94%); // hsl(193, 0%,88%); 
//$bg_switch_type_button_off: hsl(193, 0%,96%); 



$bg_element_type_button_blue: linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 46%, hsla(0, 0%, 100%, 0.7), white), linear-gradient(to bottom, hsl(195, 100%, 64%), hsl(195, 100%, 48%), hsl(195, 100%, 50%));
$box_shadow_element_type_button_blue: 0px 0px 0px 1px hsl(195, 100%, 66%), inset 0px 0px 9px 7px white;
$filter_element_type_button_piece_text_blue: drop-shadow(0px 0px 2px hsl(193, 100%, 40%));

$filter_element_type_button_piece_text_red: drop-shadow(0px 0px 2px hsl(0, 100%, 44%));

$filter_element_type_button_piece_text_yellow: drop-shadow(0px 0px 2px hsl(54, 100%, 33%)); // hsl(60, 100%, 29%)

$filter_element_type_button_piece_text_green: drop-shadow(0px 0px 2px hsl(120, 100%, 34%));
 
$filter_element_type_button_piece_text_black: drop-shadow(0px 0px 2px hsl(0, 0%, 30%));



$bg_element_type_button_clear_blue:  // VÍNCULO: Váriável JS
// url(../../images/bgs/switch_button_shine_under.webp) center center / 200% 100% no-repeat, // <- Isso buga no Safari desktop.
linear-gradient(to bottom, hsla(0, 0%, 100%, 0.15) 46%, hsla(0, 0%, 100%, 0.64), white), hsl(193, 100%, 80%);
$box_shadow_element_type_button_clear_blue: inset 0px 0px 9px 5px $color_shadow_box_inset_element_type_button_clear, 0px 0px 12px 0px hsl(195, 100%, 50%); // box-shadow: inset 0px 0px 9px 4px white, 0px 0px 12px 0px $color_theme !important;
$filter_element_type_button_piece_icon_clear_blue: drop-shadow(0px 0px 1px hsl(195, 100%, 60%));
$filter_switch_type_button_piece_text_clear_disabled_blue: drop-shadow(0px 0px 2px hsl(193, 100%, 34%)); 

$bg_element_type_button_clear_red: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.15) 46%, hsla(0, 0%, 100%, 0.64), white),hsl(0, 100%, 87%);
$box_shadow_element_type_button_clear_red: inset 0px 0px 9px 5px $color_shadow_box_inset_element_type_button_clear, 0px 0px 12px 0px hsl(0, 100%, 62%);
$filter_element_type_button_piece_icon_clear_red: drop-shadow(0px 0px 1px hsl(0, 100%, 78%));
$filter_switch_type_button_piece_text_clear_disabled_red: drop-shadow(0px 0px 2px hsl(0, 100%, 38%)); 

$bg_element_type_button_clear_yellow:linear-gradient(to bottom, hsla(0, 0%, 100%, 0.15) 46%, hsla(0, 0%, 100%, 0.64), white),hsl(60, 100%, 52%);
$bg_element_type_button_icon_clear_yellow: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.15) 46%, hsla(0, 0%, 100%, 0.64), white),hsl(60, 100%, 48%);
$box_shadow_element_type_button_clear_yellow: inset 0px 0px 9px 5px $color_shadow_box_inset_element_type_button_clear, 0px 0px 0px 1px hsl(60, 100%, 48%), 0px 0px 4px 1px hsl(60, 100%, 48%), 0px 0px 11px 1px hsl(60, 100%, 50%);
$filter_element_type_button_piece_icon_clear_yellow: drop-shadow(0px 0px 1px hsl(60, 100%, 40%));
$filter_switch_type_button_piece_text_clear_disabled_yellow: drop-shadow(0px 0px 2px hsl(54, 100%, 28%)); 

$bg_element_type_button_clear_green: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.15) 46%, hsla(0, 0%, 100%, 0.64), white),hsl(120, 100%, 77%); 
$box_shadow_element_type_button_clear_green: inset 0px 0px 9px 5px $color_shadow_box_inset_element_type_button_clear, 0px 0px 0px 1px hsl(120, 100%, 72%), 0px 0px 12px 0px hsl(120, 100%, 50%);
$filter_element_type_button_piece_icon_clear_green: drop-shadow(0px 0px 1px hsl(120, 100%, 48%));
$filter_switch_type_button_piece_text_clear_disabled_green: drop-shadow(0px 0px 2px hsl(120, 100%, 28%)); 

$bg_element_type_button_clear_black: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.15) 46%, hsla(0, 0%, 100%, 0.64), white),hsl(0, 0%, 76%);
$box_shadow_element_type_button_clear_black: inset 0px 0px 9px 5px $color_shadow_box_inset_element_type_button_clear, 0px 0px 12px 0px hsl(0, 0%, 40%);
$filter_element_type_button_piece_icon_clear_black: drop-shadow(0px 0px 1px hsl(0, 0%, 64%));
$filter_switch_type_button_piece_text_clear_disabled_black: drop-shadow(0px 0px 2px hsl(0, 0%, 30%)); 



/*      
//$bg_switch_type_button_pill_and_rounded_off: hsl(193, 0%,94%);
$bg_switch_type_button_pill_and_rounded_off: 
url(../../images/bgs/switch_button_icon_pill_shine_under.webp) center center / 200% 100% no-repeat,
hsl(193, 0%, 88%);
$bg_switch_type_button_pill_and_rounded_on: 
url(../../images/bgs/switch_button_icon_pill_shine_under.webp) center center / 200% 100% no-repeat,
hsl(193, 100%, 83%);
*/

$bg_button_type_normal_and_switch_type_button_shine_top: linear-gradient(to bottom, white, hsla(0, 0%, 100%, 0.4)); // Última alteração: +15% de opacidade.
 
$bg_button_type_normal_and_switch_type_button_rounded_shine: url(../../images/bgs/switch_button_rounded_shine_above.svg) center center / 100% 100% no-repeat;  //Fazendo dessa forma (usando a função de gradiente radial) não funciona em todos os navegadores: radial-gradient(circle at 50% 10%, white -10%, rgba(255, 255, 255, 0.43) 52%, transparent 52%) center center / 100% 100% no-repeat; 

// (Text floating):

/*  
$bg_switch_type_button_icon_piece_text_floating_off: linear-gradient(to bottom, white, hsl(193, 0%, 91%)); // hsl(0, 0%, 98%);
$color_border_switch_type_button_icon_piece_text_floating_off: hsl(0, 0%, 74%); 
$color_text_switch_type_button_icon_piece_text_floating_off: hsl(0, 0%, 67%); 
$bg_button_and_switch_both_type_button_icon_piece_text_floating_on: linear-gradient(to bottom, white, hsl(193, 100%, 92%));  // hsl(193, 100%, 98%);
$color_border_button_and_switch_both_type_button_icon_piece_text_floating_on: hsl(193, 100%, 68%);  
$color_text_button_and_switch_both_type_button_icon_piece_text_floating_on: hsl(193, 100%, 60%); 
*/

$color_border_switch_type_button_icon_piece_text_floating_off: hsl(0, 0%, 74%); 
$bg_switch_type_button_icon_piece_text_floating_off: hsl(0, 0%, 96%); //linear-gradient(to bottom, white, hsl(193, 0%, 91%));
$color_text_switch_type_button_icon_piece_text_floating_off: hsl(0, 0%, 67%); 

$color_border_button_and_switch_both_type_button_icon_piece_text_floating_on: $color_border_token_blue;
$bg_button_and_switch_both_type_button_icon_piece_text_floating_on: $bg_token_blue;
$color_text_button_and_switch_both_type_button_icon_piece_text_floating_on: $color_text_token_blue; 

$color_border_button_and_switch_both_type_button_icon_piece_text_floating_on_red: $color_border_token_red;
$bg_button_and_switch_both_type_button_icon_piece_text_floating_on_red: $bg_token_red;
$color_text_button_and_switch_both_type_button_icon_piece_text_floating_on_red: $color_text_token_red; 

$color_border_button_and_switch_both_type_button_icon_piece_text_floating_on_yellow: $color_border_token_yellow;
$bg_button_and_switch_both_type_button_icon_piece_text_floating_on_yellow: $bg_token_yellow;
$color_text_button_and_switch_both_type_button_icon_piece_text_floating_on_yellow: $color_text_token_yellow; 

$color_border_button_and_switch_both_type_button_icon_piece_text_floating_on_green: $color_border_token_green;
$bg_button_and_switch_both_type_button_icon_piece_text_floating_on_green: $bg_token_green;
$color_text_button_and_switch_both_type_button_icon_piece_text_floating_on_green: $color_text_token_green; 

$color_border_button_and_switch_both_type_button_icon_piece_text_floating_on_black: $color_border_token_black;
$bg_button_and_switch_both_type_button_icon_piece_text_floating_on_black: $bg_token_black;
$color_text_button_and_switch_both_type_button_icon_piece_text_floating_on_black: $color_text_token_black; 

// --- Type Image ---

$button_and_switch_both_type_image_icon_size: $button_height; 
$color_outline_button_and_switch_both_type_image: hsla(0, 0%, 0%, 0.2); 

// (Text floating):

$color_border_switch_type_image_piece_text_floating_off: $color_border_switch_type_button_icon_piece_text_floating_off; 
$bg_switch_type_image_piece_text_floating_off:  $bg_switch_type_button_icon_piece_text_floating_off;
$color_text_switch_type_image_piece_text_floating_off: $color_text_switch_type_button_icon_piece_text_floating_off; 
$color_box_shadow_switch_type_image_piece_text_floating_off: transparent; // hsla(0, 0%, 0%, 0.09);

/*  
$color_text_switch_type_image_piece_text_floating_on: hsl(193, 100%, 60%); 
$color_border_switch_type_image_piece_text_floating_on: hsl(193, 100%, 68%);  
$bg_switch_type_image_piece_text_floating_on: linear-gradient(to bottom, white, hsl(193, 100%, 92%));  // hsl(193, 100%, 98%);
$color_box_shadow_switch_type_image_piece_text_floating_on: hsla(193, 100%, 60%, 0.24);
*/

$color_border_switch_type_image_piece_text_floating_on: $color_border_button_and_switch_both_type_button_icon_piece_text_floating_on;  
$bg_switch_type_image_piece_text_floating_on: $bg_button_and_switch_both_type_button_icon_piece_text_floating_on;
$color_text_switch_type_image_piece_text_floating_on: $color_text_button_and_switch_both_type_button_icon_piece_text_floating_on; 
$color_box_shadow_switch_type_image_piece_text_floating_on: transparent;

$color_border_switch_type_image_piece_text_floating_on_red: $color_border_button_and_switch_both_type_button_icon_piece_text_floating_on_red;  
$bg_switch_type_image_piece_text_floating_on_red: $bg_button_and_switch_both_type_button_icon_piece_text_floating_on_red;
$color_text_switch_type_image_piece_text_floating_on_red: $color_text_button_and_switch_both_type_button_icon_piece_text_floating_on_red; 
$color_box_shadow_switch_type_image_piece_text_floating_on_red: transparent;

$color_border_switch_type_image_piece_text_floating_on_yellow: $color_border_button_and_switch_both_type_button_icon_piece_text_floating_on_yellow;  
$bg_switch_type_image_piece_text_floating_on_yellow: $bg_button_and_switch_both_type_button_icon_piece_text_floating_on_yellow;
$color_text_switch_type_image_piece_text_floating_on_yellow: $color_text_button_and_switch_both_type_button_icon_piece_text_floating_on_yellow; 
$color_box_shadow_switch_type_image_piece_text_floating_on_yellow: transparent;

$color_border_switch_type_image_piece_text_floating_on_green: $color_border_button_and_switch_both_type_button_icon_piece_text_floating_on_green;  
$bg_switch_type_image_piece_text_floating_on_green: $bg_button_and_switch_both_type_button_icon_piece_text_floating_on_green;
$color_text_switch_type_image_piece_text_floating_on_green: $color_text_button_and_switch_both_type_button_icon_piece_text_floating_on_green; 
$color_box_shadow_switch_type_image_piece_text_floating_on_green: transparent;

$color_border_switch_type_image_piece_text_floating_on_black: $color_border_button_and_switch_both_type_button_icon_piece_text_floating_on_black;  
$bg_switch_type_image_piece_text_floating_on_black: $bg_button_and_switch_both_type_button_icon_piece_text_floating_on_black;
$color_text_switch_type_image_piece_text_floating_on_black: $color_text_button_and_switch_both_type_button_icon_piece_text_floating_on_black; 
$color_box_shadow_switch_type_image_piece_text_floating_on_black: transparent;

// --- Type Key ---

$switch_type_key_ball_size: 24px;
$switch_type_key_ball_size_SS: 28px;

$bg_switch_type_key_ball: 
linear-gradient(to bottom, hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 100%, 0.5)),
radial-gradient(circle at 50% 50%, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.6) 50%, hsla(0, 0%, 0%, 0.45) 75%),
hsl(0, 0%, 80%);
$bg_switch_type_key_on_ball: 
linear-gradient(to bottom, hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.5)),
radial-gradient(circle at 50% 50%, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.6) 50%, hsl(0, 0%, 100%) 75%),
cyan;
$bg_switch_type_key_ball_shine: linear-gradient(to bottom, rgba(255, 255, 255, 1), hsla(0, 0%, 100%, 0));
$bg_switch_type_key_path_off: linear-gradient(to bottom, hsl(0, 0%, 70%), hsl(0, 0%, 73%), hsl(0, 0%, 100%)); // hsl(0, 0%, 76%)
$bg_switch_type_key_path_on: white; // linear-gradient(to bottom, white, hsl(197, 100%, 75%)); // linear-gradient(to bottom, white, white, hsl(197, 100%, 65%));
$bg_switch_type_key_path_off_SS: linear-gradient(to bottom, hsl(0, 0%, 70%), hsl(0, 0%, 79%), hsl(0, 0%, 100%)); // hsl(0, 0%, 76%)

// ─────────── Buttons ───────────

// Obs.: Algumas variáveis dos botões estão em Switches.

/*  
$color_text_button_type_image_piece_text_floating: hsl(190, 100%, 51%); 
$color_border_button_type_image_piece_text_floating: hsl(195, 100%, 50%);
$color_box_shadow_in_button_type_image_piece_text_floating: hsla(195, 100%, 50%, 0.3);
$color_box_shadow_out_button_type_image_piece_text_floating: hsla(193, 100%, 66%, 0.24);
$bg_button_type_image_piece_text_floating: hsla(192, 100%, 98%, 0.95); 
*/

$color_border_button_type_image_piece_text_floating: $color_border_switch_type_image_piece_text_floating_on;
$bg_button_type_image_piece_text_floating: $bg_switch_type_image_piece_text_floating_on; 
$color_text_button_type_image_piece_text_floating: $color_text_switch_type_image_piece_text_floating_on; 
$color_box_shadow_in_button_type_image_piece_text_floating: transparent;
$color_box_shadow_out_button_type_image_piece_text_floating: transparent; // $color_box_shadow_switch_type_image_piece_text_floating_on;

$color_border_button_type_image_piece_text_floating_red: $color_border_switch_type_image_piece_text_floating_on_red;
$bg_button_type_image_piece_text_floating_red: $bg_switch_type_image_piece_text_floating_on_red; 
$color_text_button_type_image_piece_text_floating_red: $color_text_switch_type_image_piece_text_floating_on_red; 
$color_box_shadow_in_button_type_image_piece_text_floating_red: transparent;
$color_box_shadow_out_button_type_image_piece_text_floating_red: transparent;

$color_border_button_type_image_piece_text_floating_yellow: $color_border_switch_type_image_piece_text_floating_on_yellow;
$bg_button_type_image_piece_text_floating_yellow: $bg_switch_type_image_piece_text_floating_on_yellow; 
$color_text_button_type_image_piece_text_floating_yellow: $color_text_switch_type_image_piece_text_floating_on_yellow; 
$color_box_shadow_in_button_type_image_piece_text_floating_yellow: transparent;
$color_box_shadow_out_button_type_image_piece_text_floating_yellow: transparent;

$color_border_button_type_image_piece_text_floating_green: $color_border_switch_type_image_piece_text_floating_on_green;
$bg_button_type_image_piece_text_floating_green: $bg_switch_type_image_piece_text_floating_on_green; 
$color_text_button_type_image_piece_text_floating_green: $color_text_switch_type_image_piece_text_floating_on_green; 
$color_box_shadow_in_button_type_image_piece_text_floating_green: transparent;
$color_box_shadow_out_button_type_image_piece_text_floating_green: transparent;

$color_border_button_type_image_piece_text_floating_black: $color_border_switch_type_image_piece_text_floating_on_black;
$bg_button_type_image_piece_text_floating_black: $bg_switch_type_image_piece_text_floating_on_black; 
$color_text_button_type_image_piece_text_floating_black: $color_text_switch_type_image_piece_text_floating_on_black; 
$color_box_shadow_in_button_type_image_piece_text_floating_black: transparent;
$color_box_shadow_out_button_type_image_piece_text_floating_black: transparent;

// ─────────── Choices ───────────

// $bg_choice_label: url(../../images/bgs/choice_label.png)  center /100% 100%; // <- Parte do estilo de choice anterior!
// $bg_choice: url(../../images/bgs/choice.png)  center /100% 100%; // <- Parte do estilo de choice anterior!
// $bg_choice_d_open: url(../../images/bgs/choice_d_open.png)  center /100% 100%; // <- Parte do estilo de choice anterior!
// $bg_choice_selector: url(../../images/bgs/choice_selector.png)  center /100% 100%; // <- Parte do estilo de choice anterior!

// ─────────── Lightboxs ───────────

$color_shadow_lightbox: black; 
$color_shadow_lightbox_button: black; 

// $bg_lightbox: url(../../images/bgs/lightbox.png)  center /100% 100%;
// $bg_lightbox_button: url(../../images/icons/lightbox_close.svg)  center /100% 100%, hsl(0, 0%, 33%);
$bg_lightbox_overlay: 0; // hsla(0, 0%, 100%, 0.7);

// ─────────── Scrollbars ───────────

// Header-nav, choice dropdown, lightbox, <textarea>

// $color_1_scrollbar: hsla(0, 0%, 0%, 0.14);
$color_1_scrollbar: linear-gradient(to bottom, hsl(180, 100%, 85%), hsl(195, 100%, 55%)); // hsl(188, 100%, 85%);
$color_2_scrollbar: hsla(0, 0%, 100%, 0.4);

$color_scrollbar_thumb: $color_1_scrollbar;
$color_scrollbar_thumb_firefox: $color_1_scrollbar;
$color_scrollbar_track: $color_2_scrollbar;
$color_scrollbar_track_firefox: transparent;

$color_menu_scrollbar_thumb: $color_1_scrollbar;  
$color_menu_scrollbar_thumb_firefox: $color_1_scrollbar; 
$color_menu_scrollbar_track: transparent;
$color_menu_scrollbar_track_firefox: transparent;

$color_menuRounded_scrollbar_thumb: $color_1_scrollbar;  
$color_menuRounded_scrollbar_thumb_firefox: $color_1_scrollbar; 
$color_menuRounded_scrollbar_track: transparent;
$color_menuRounded_scrollbar_track_firefox: $color_2_scrollbar;

// ─────────── Others ───────────

$bg_button_hide: url(../../images/icons/button_hide.png)  center /100% 100%; 

/*  
◈──────────────────────────────────────────────────────◈
TODO: Framework - Classes JS
◈──────────────────────────────────────────────────────◈ */

// Classes Genéricas Pra Serem Aplicadas Somente Via JS:

.display_none {
    
    display: none;
}

.overflow_hidden {
    
    overflow: hidden;
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: Seções De Layout
◈──────────────────────────────────────────────────────◈ */

html { 
    //background: url("../../images/bgs/html.png");
}

.header-content {
    max-width: $central_maxWidth;
}

.central {
    max-width: $central_maxWidth;
}

$hr_stop: calc(#{$central_maxWidth} + 60px);

.presentation_float {

    video {
        width: 100%;
        border-top: 2px solid $color_theme;
        border-bottom: 2px solid $color_theme;
        margin-top: $margin_vertical;
        margin-bottom: $margin_vertical;    
    }

    @media (max-width: $screen_small_widthLimit) {

        display: flex;
        flex-direction: column;

        video {
            order: 1;
        }
    }

    @media (min-width: $screen_small_widthLimit) {

        $video_width: 40%;

        display: flow-root;

        > div {
            //float: left;
            max-width: calc(100% - #{$video_width} - (1 * #{$margin_horizontal}));
        }

        video {
            float: right;
            max-width: $video_width;
            border: 2px solid $color_theme;
            margin-left: $margin_horizontal;
            margin-right: $margin_horizontal;
            border-radius: $border_radius_default;
        }

        p:nth-of-Type(2) {
            //clear: both;
        }

        p:nth-last-of-Type(1) {  
            margin-bottom: 0;
        } 
    } 
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: Others
◈──────────────────────────────────────────────────────◈ */

table { 

    th {/*
        background: url(../../framework/images/colors/text_table_th.png)  center /100% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent; */
    }
} 

.rotate_device_to_max_img {
    width: 130px;
    padding: 8px 0px 0px 7px; 
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: Slider
◈──────────────────────────────────────────────────────◈ */

.slider { 

    /*  
    img, picture { 
        max-width: 94.4%;
    }

    @media (min-width: $screen_small_widthLimit) {

        max-width: calc(100% - (2 * #{$margin_horizontal}));  

        .slider img, .slider picture {
            max-width: 938px;   
        }
    }

    @media (min-width: calc(938px + (2 * #{$margin_horizontal})) ) {
    
        max-width: 1000px;

    }
    */
}

/* 
────────────────────────────────────────────────────── 
TODO: Download Page
◈──────────────────────────────────────────────────────◈ */

.download_buttons {

    display: flex;
    justify-content: space-evenly;

    button {
        //margin-bottom: 0;
    }
}

.download {

    .demo {

        p {
            //margin-bottom: 0;
        }

        div {
            text-align: center;

            button {
                margin: 0;
                font-size: 21px;
            }
        }
    }

    .stores_aligh {

        text-align: center; 
        
        img {
            width: 180px;
        }
    }
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: Types Table
◈──────────────────────────────────────────────────────◈ */

.types_interactions_box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.types_interactions {
    margin-left: 0;
    margin-right: 0;
    margin-left: $margin_horizontal;
    margin-right: $margin_horizontal;
    margin-top:calc(2*#{$margin_vertical}) ;

    .name th > *{
        display: flex;
        justify-content: center;
        align-items: center;

        img{margin-right: 8px;}
    }

    td + td {
        border-width: 1px !important; 
    }

    .good .txt {
        color: $color_text_token_green; 
        //border: 1px solid $color_border_token_green;
        //background-color: $bg_token_green;
        color: hsl(120, 100%, 47%);
    }

    .bad .txt {
        color: $color_text_token_red; 
        //border: 1px solid $color_border_token_red;
        //background-color: $bg_token_red;
        color: red;
    }

    //.dmgTo_x0 {color: White;background-color: Black;}

    .txt {
        display: block;
        margin-bottom: 8px;
    }

    .type_icon {
        width: 32px; // 48px 
    }

    .effect_icon {
        width: 28px;
    }
}


/*  
◈──────────────────────────────────────────────────────◈
TODO: Types Table
◈──────────────────────────────────────────────────────◈ */

.types_table_msg {
    @media (pointer: fine) and (min-width: $screen_small_widthLimit) and (min-height: $screen_small_widthLimit) {
        display: none !important;
    }
}
 
.types_table_box {
    display: none;

    @media (pointer: fine) and (min-width: $screen_small_widthLimit) and (min-height: $screen_small_widthLimit) {
        display: block;
    }
 
    max-height: calc(100vh - #{$button_height} - (2 * #{$margin_vertical}));
    margin: auto;
    //margin-bottom: 63px;
    border: 2px solid $color_theme;
    border-radius: 0;
    border-top-left-radius: 20px;
    overflow: auto;

    @media (min-width: $screen_small_widthLimit) {

        max-width: calc(100% - (2 * #{$margin_horizontal}) - 3px);
    }
}

.types_table {
    margin: 0;
}

.types_table tr:nth-of-type(1) {
    position: sticky;
    top: 0;
    left: 0;
   z-index: 1;
   border-bottom: 1px solid hsla(193,100%,50%, 0%);
}

.types_table tr {th, td {
    padding: 6.5px;
}}

.types_table tr th {
    position: sticky;
    top: 0;
    left: 0;
   background: white; 
   background: hsl(193,100%,97%);
   outline: 1px solid $color_theme;
}

.types_table tr:nth-of-type(1) td {
    position: sticky;
    top: 0;
    left: 0;
   z-index: 1;
   background: white;
   background: hsl(193,100%,97%);
   outline: 1px solid $color_theme;
}

.types_table tr td:nth-of-type(1) {
    border-left: 0;
}

.types_table tr td {
    border-left: 1px solid hsl(0, 0%, 85%);
}

.types_table tr {
    border: 0;
}

.types_table tr td {
    border-bottom: 1px solid hsl(0, 0%, 85%);
}

.types_table tr:nth-of-type(1) td {
    border-bottom: 0;
}

.types_table tr:nth-last-of-type(1) td {
    border-bottom: 1px solid $color_theme;
}

.types_table .type_icon {
    width: 32px; // 36.8px; // 48px 
    height: 32px; 
}

.types_table th, .types_table td {
    line-height: 0px;
}

.show-or-hide-plasma {
    display: none;
}

.types_table .effect_icon {
    width: 25px// 26px //28px;
}

.types_table {
    .Robot, .Snow_Ice{
        color: white;
        background-color: rgb(0, 0, 0);
    }

    .Snow_Ice { display: none; }
    // .Robot { display: none; }
}

@media (pointer: coarse), (pointer: none) {

    .table_box {
        height: 100%; // Esta linha remove a barra vertical em dispositivos touch screen.
        margin-bottom: 38px;
        border-bottom: 0;
    }
}


// @media (pointer: coarse), (pointer: none) { // Ganbiarra necessária, pois os navegadores mobile n dão suporte à 'position: sticky'.

//     .types_table tr:nth-of-type(1), .types_table tr th, .types_table tr:nth-of-type(1) td {
//         position: static;  
//     }

//     .types_table .type_icon {
//         width: 24px;
//     }

//     .types_table .effect_icon {
//         width: 20px;
//     }
// }

/**/

/*  
◈──────────────────────────────────────────────────────◈
TODO: Skills - Table
◈──────────────────────────────────────────────────────◈ */

$STC_and_SDSB_FULLHD_margin_horizontal: 20px; 

.FULLHD_STC_conteiner {

    @media (min-width: 1920px) { 

        position: fixed;
        top: 174px;
        left: 0;
        z-index: 1000; 
        width: 300px; 
        margin-left: $STC_and_SDSB_FULLHD_margin_horizontal;
        margin-right: $STC_and_SDSB_FULLHD_margin_horizontal;
    }
}

.skills_types_choiceZ:not(.dropdown_open) {


}
/*  */
.skills_types_choice:not(.dropdown_open) {

    display: flex !important;
    align-items: center;
    height: 44px;
  
    img {

        width: 32px; 
        margin-left: 10px;
    }

    img + span { 

        padding-left: 9px !important; 
    }
}

.skills_types_choice.choice.dropdown.dropdown_open {

    // li {
        // border: 0;
    // }

    li { 
        border-right: 1px solid white;

        span {

            padding-left: 10px;
        } 
    }

    li:nth-last-of-type(1) { 
 
        display: none !important;  
    }

    // li:not(:nth-of-type(2)) a {
    //     
    //     padding-left: 8px;
    // }

    a {
        // width: max-content; -moz-width: fit-content; width: -moz-fit-content; width: fit-content; // <- Declarações necessárias para garantir que o Firefox funcione como se suportasse 'width: fit-content'. (Ao menos 1 delas deve funcionar.)
        height: 44px !important;
        // border-radius: 1000px; 
    }

    // a.on {

    //     background: hsla(0, 0%, 100%, 0.68);
    // }
  
    img {

        width: 32px;
    }

    @media (min-width: 400px) { li:not(:nth-of-type(2)) { width: 50%; } }
    @media (min-width: 600px) { li:not(:nth-of-type(2)) { width: 33.33%; } }
    @media (min-width: 800px) { li:not(:nth-of-type(2)) { width: 25%; } }
    @media (min-width: 1000px) { li:not(:nth-of-type(2)) { width: 20%; } }
    @media (min-width: 1200px) { li:not(:nth-of-type(2)) { width: 16.66%; } }
    @media (min-width: 1400px) { li:not(:nth-of-type(2)) { width: 14.28%; } } 
    @media (min-width: 1600px) { li:not(:nth-of-type(2)) { width: 12.5%; } }
}

// .skills_data_switchs_box {
// 
//     margin-left: calc(0.5 * #{$margin_horizontal});   
//     margin-right: calc(0.5 * #{$margin_horizontal});
// 
//     $switchs_margin_horizontal: 10px;
// 
//     .switch {
//         
//         width: calc((100% - 4 * #{$switchs_margin_horizontal})/2); 
//         height: 42px;
//         margin-left: $switchs_margin_horizontal;
//         margin-right: $switchs_margin_horizontal;
//     }
// 
//     .switch + .switch {
//         
//         margin-top: $margin_vertical;
//     }
// 
//     @media (min-width: 410px) { .switch { width: calc((100% - 6 * #{$switchs_margin_horizontal})/3); } }
// 
//     @media (min-width: 550px) { .switch { width: calc((100% - 8 * #{$switchs_margin_horizontal})/4); } }
// 
//     @media (min-width: 690px) { .switch { width: calc((100% - 10 * #{$switchs_margin_horizontal})/5); } }
// 
//     @media (min-width: 830px) { .switch { width: calc((100% - 12 * #{$switchs_margin_horizontal})/6); } }
// 
//     @media (min-width: 970px) { .switch { width: calc((100% - 14 * #{$switchs_margin_horizontal})/7); } }
// 
//     @media (min-width: 1110px) { .switch { width: calc((100% - 16 * #{$switchs_margin_horizontal})/8); } }
// 
//     @media (min-width: 1250px) { .switch { width: calc((100% - 18 * #{$switchs_margin_horizontal})/9); } }
// 
//     @media (min-width: 1920px) { 
//         
//         $switch_width: 130px;
//         $width: calc((2 * #{$switch_width} + 4 * #{$switchs_margin_horizontal}));
// 
//         position: fixed;
//         right: 0;
//         z-index: 1;
//         width: $width;
//         margin-left: $STC_and_SDSB_FULLHD_margin_horizontal;
//         margin-right: $STC_and_SDSB_FULLHD_margin_horizontal;
// 
//         .switch { 
//             
//             width: 130px; 
//         }
//     }
// } 

.skills_data_switchs_box {

    font-size: 0;
    margin-left: calc(0.5 * #{$margin_horizontal});   
    margin-right: calc(0.5 * #{$margin_horizontal});
    text-align: center;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */

    $switchs_margin_horizontal: 10px;

    li {
        display: inline-block;
        width: 144px; 
        margin-left: $switchs_margin_horizontal;
        margin-right: $switchs_margin_horizontal;
    } 

    li /* + li  */{
        margin-top: $margin_vertical !important;
    }

    .switch {
        width: inherit;
        height: 42px;
        margin: 0;
    }
/* 
    li { width: calc((100% - 2 * #{$switchs_margin_horizontal})/1); } 

    @media (min-width: 380px) { li { width: calc((100% - 4 * #{$switchs_margin_horizontal})/2); } }

    @media (min-width: 520px) { li { width: calc((100% - 6 * #{$switchs_margin_horizontal})/3); } }

    @media (min-width: 680px) { li { width: calc((100% - 8 * #{$switchs_margin_horizontal})/4); } }

    @media (min-width: 840px) { li { width: calc((100% - 10 * #{$switchs_margin_horizontal})/5); } }

    @media (min-width: 930px) { li { width: calc((100% - 12 * #{$switchs_margin_horizontal})/6); } }

    @media (min-width: 970px) { li { width: calc((100% - 14 * #{$switchs_margin_horizontal})/7); } }

    @media (min-width: 1110px) { li { width: calc((100% - 16 * #{$switchs_margin_horizontal})/8); } }

    @media (min-width: 1250px) { li { width: calc((100% - 18 * #{$switchs_margin_horizontal})/9); } }
 */
    @media (min-width: 1920px) { 
        
        $switch_width: 130px;
        $width: calc((2 * #{$switch_width} + 4 * #{$switchs_margin_horizontal}));

        position: fixed;
        // top: 150px;
        right: 0;
        z-index: 1;
        width: $width;
        margin-left: $STC_and_SDSB_FULLHD_margin_horizontal;
        margin-right: $STC_and_SDSB_FULLHD_margin_horizontal;

        li { 
            
            width: 130px; 
        }
    }
}

.skills_table_box {

    // display: none;
    
    width: max-content; -moz-width: fit-content; width: -moz-fit-content; width: fit-content; /* <- Declarações necessárias 
    para garantir que o Firefox funcione como se suportasse 'width: fit-content'. (Ao menos 1 delas deve funcionar.) */
    
    max-width: 100%;
    //max-height: calc(100vh - #{$button_height} - (2 * #{$margin_vertical}));
    max-height: calc(100vh - (2 * #{$button_height}));

    //position: relative;
    //bottom: 0;
    margin: auto;
    border: 1px solid $color_theme;
    overflow-x: auto;

    @media (min-width: $screen_small_widthLimit) {

        max-width: calc(100% - (2 * #{$margin_horizontal}));
    }

    @media (min-width: 1920px) { 

        max-height: calc(100vh - 180px); 
    }
}

.skills_table  {

    min-width: max-content;  /*  Esta única declaração possui 3 utilidades:
    - Deixa todas as células em uma única linha.
    - Corrige um bug que quando tem mais de um ícone de tipo, eles quebram em mais de uma linha.
    - Corrige um bug que deixa a largura da caixa da tabela maior do que a tabela se a tabela não tiver 
    largura suficiente para cobrir toda a largura da coluna da página em que está. */

    margin: auto; 

    td.Hit {

        color: red;
        text-decoration: line-through red; 
    }

    tr {

        display: none;
    } 

    tr:hover {

        background-color: transparent;
    }

    tr:nth-of-type(1) {

        display: table-row;
        background-color: hsl(193,100%,98%);
        outline: 1px solid $color_theme;

        @media (pointer: fine) and (min-width: $screen_small_widthLimit) and (min-height: $screen_small_widthLimit) { // <-- Isso evita bug em dispositivos móveis.
            
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    tr:nth-of-type(1):hover { // Bug fix!

        background-color: hsl(193,100%,98%);
    }

    tr td:nth-of-type(1) {

        position: sticky;
        top: 0;
        left: 0;
        background: $bg_html; 
        //background: hsl(193,100%,98%);
        outline: 1px solid $color_theme;
    }
    
    /* 
    // Isso evita um bug escroto de que quando tem mais de um ícone de tipo, eles quebram em mais de uma linha!!! 
    td > span { 
        display: inline-flex; 
    } 
    */

    th, td { 

        //min-width: max-content; 
    }

    // Além de deixar todas as células em uma única linha, isso evita um bug escroto de que quando tem mais de um 
    // ícone de tipo, eles quebram em mais de uma linha!!! Isso buga no mobile.
    /*td > span { 
        display: inline-block;
        min-width: max-content; 
    }  */

    .Name {
        max-width: 186px;
    }

    // .Description:not(th), .Notes:not(th) { 
    .Description, .Notes { 

        text-align: left;
    }

    .icon_type {

        width: 32px;
        height: 32px;
        margin-top: 4px;
        // filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.24)); // Isso buga o recurso 'position: sticky' da tabela!
    }

    .icon_type + .icon_type {

        margin-left: 9px;
    }

    /*  
    td > span { 

        display: inline-flex;
        align-items: center;
    }

    .icon_state {

        width: 32px;
        height: 32px;
        margin-left: 8px;
        margin-right: 8px; 
    }

    .icon_state_effect {

        width: 25px;
        height: 25px;
    }
    */

    td.Effect {

        font-size: 0;
        max-width: 250px;
        padding-left: 6px;
        padding-right: 6px;

        > span:empty {

            display: none;
        }

        > span {

            $margin_v: 4px;

            display: inline-block;
            padding: 4px 8px;
            margin-top: $margin_v;
            margin-bottom: $margin_v;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 1000px;
        }
/* 
        > span:not(:empty) + span {

            margin-left: 9px;
            margin-right: 9px;
        }
 */
        .SPD {

            color: $color_text_token_yellow; 
            border: 1px solid $color_border_token_yellow;
            background-color: $bg_token_yellow;
        }

        .React {

            color: $color_text_token_orange; 
            border: 1px solid $color_border_token_orange;
            background-color: $bg_token_orange;
        }

        .Critical {

            color: $color_text_token_red; 
            border: 1px solid $color_border_token_red;
            background-color: $bg_token_red;
        }

        .State {

            color: $color_text_token_blue; 
            border: 1px solid $color_border_token_blue;
            background-color: $bg_token_blue;
        }

        .Call {

            color: $color_text_token_green; 
            border: 1px solid $color_border_token_green;
            background-color: $bg_token_green;
        } 

        .Recover {

            color: $color_text_token_pink;
            border: 1px solid $color_border_token_pink;
            background-color: $bg_token_pink;
        }

        .Drain {

            color: $color_text_token_purple;
            border: 1px solid $color_border_token_purple;
            background-color: $bg_token_purple;
        }

        .Union {

            color: $color_text_token_purple2;
            border: 1px solid $color_border_token_purple2;
            background-color: $bg_token_purple2;
        }

        .Integrate {

            color: $color_text_token_cyan;
            border: 1px solid $color_border_token_cyan;
            background-color: $bg_token_cyan;
        }

        .Field {

            color: $color_text_token_brown;
            border: 1px solid $color_border_token_brown;
            background-color: $bg_token_brown;
        } 

        .Block {

            color: $color_text_token_black;
            border: 1px solid $color_border_token_black;
            background-color: $bg_token_black;
        } 

        .Special {

            color: $color_text_token_white;
            border: 1px solid $color_border_token_white;
            background-color: $bg_token_white;
        } 
    }

    .cost {

        //filter: drop-shadow(0px 0px 1px black);
    }

    .cost + .cost {

        margin-left: 6px;
    }

    .cost.hp {

        color: hsl(120, 100%, 47%);
    }

    .cost.mp {
        
        // color: hsl(60, 100%, 50%); // yellow
        // color: hsl(51, 100%, 50%); // gold
        color: hsl(54, 100%, 48%);
    }

    .cost.tp {

        color: red;
    }

    .Condition {

        .Equip:not(:empty) + .OtherCond:not(:empty)::before {

            content: ", "
        }
    }
}

.skills_table_box_full {

    position: fixed;
    //top: 48px; bottom: 0; left: 0; right: 0;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: calc(#{$zIndex_nav} + 1);
    width: 100vw;
    max-width: 100vw;
    max-height: calc(100vh - (0 * #{$button_height}));
    background-color: $bg_html;
    border: 0; 
}

.click_on_the_table {
    text-align: center;
}

.skills_quantity {

    // display: none;
    text-align: center;
}

/*  
◈──────────────────────────────────────────────────────◈
TODO: ...
◈──────────────────────────────────────────────────────◈ */